$color-base:        #FFFFFF;
$color-light:       #F4F5FC;
$color-soft:        #8693AB;
$color-headlines:   #191923;
$color-text:        #555555;

$color-primary:     #0652DD;
$color-secondary:   #D980FA;
$color-shadow:      #1E90FF;

$color-error:       #CE4257;
$color-success:     #2EC4B6;

$color-loading:     lighten(mix(mix($color-soft, $color-light, 20%), $color-primary, 90%), 5%);
$color-loading-l:   lighten($color-loading, 2.5%);
