//
// Miscellaneous variables
//

$transition-duration:     0.2s !default;
$transition-easing:       ease-out !default;
$transition:              $transition-duration $transition-easing !default;
$transition-bounce:       $transition-duration * 3 cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;
$transition-easing-snap:  cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-duration-snap: $transition-duration * 2.5;
$transition-snap:         $transition-duration-snap $transition-easing-snap;
